main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    padding: 10px 0;
}

h2 span {
    color: #1A237E;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 270px;
    height: 150px;
    box-shadow: var(--default-shadow);
    font-size: 14px;
    flex-wrap: wrap;
    border-radius: 6px;
}

.avaliacao {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 62%;
    max-height: min-content;
}

.rank {
    font-weight: 500;
}

.rank span {
    color: #1A237E;
}

.score {
    display: flex;
    justify-content: space-between;
}

.score .icon {
    position: relative;
    top: 3px;
    right: 1px;
    width: 13px;
    height: 13px;
}

.score .nota {
    font-weight: 500;
}

.capa {
    margin: auto;
    margin-left: 6px;
    width: 96px;
    height: 136px;
}

.card .titulo {
    text-align: center;
    position: relative;
    bottom: 10px;
    font-size: 1rem;
    display: flex;
    margin: auto 0;
    max-width: 130px;
    max-height: 96px;
    overflow: hidden;
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    .cards {
        justify-content: space-between;
        flex-direction: row;
        max-width: 544px;
        flex-wrap: wrap;
        gap: 50px;
    }

    .card {
        width: 232px;
        height: 370px;
        flex-wrap: nowrap;
    }

    .avaliacao {
        order: 1;
        width: 100%;
        font-size: 20px;
    }

    .score .icon {
        top: 4px;
        width: 20px;
        height: 20px;
    }

    .capa {
        margin: 0;
        order: 2;
        width: 191px;
        height: 270px;
    }

    .card .titulo {
        order: 3;
        bottom: 0;
        max-height: 48px;
        max-width: max-content;
    }
}

@media (min-width: 1024px) {}